<p id="notice"><%= notice %></p>
<div id="window">
  <div id="playground">
    <div class="concept" id="initial">Laura</div>
  </div>
</div>
<div id="controls">
  <table>
    <tbody>
      <% @concepts.each do |concept| %>
        <tr>
          <td><%= concept.content %></td>
          <td><%= link_to 'Show', concept %></td>
          <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
          <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Concept', new_concept_path %>
</div>

<script type="text/javascript">
function start(){

console.log(randomIdeas());
function randomIdeas(){
  $.ajax({
    url: "http://en.wikipedia.org/w/api.php?action=query&list=random&rnnamespace=0&rnlimit=10&iwurl=&redirects=&converttitles=&format=json&callback=?",
    async: true,
    dataType: 'json',
    success: function (data) {
      var ideas = [];
     $.each(data.query.random, function( index, value ) {
        // ideas.push(value.title);

      var duration = Math.random() * 100 + 2000;
      var left = Math.random() * 30 + 40;
      var top = Math.random() * 30 + 30;
      console.log(left, top);
      var delay = Math.random() * 1000 + 200;
      console.log(delay);
      var  new_concept = d3.select("#playground").append('div').attr('class', 'concept random').style({'top': top + '%', 'left':  + left + '%' }).html(value.title);
        new_concept.style({'opacity':'0'}).transition(duration).delay(delay).style({'opacity':'1'}).transition().style({'opacity':'0'}).remove();


      });
     return ideas
    }
  });
}


// <% @concepts.each do |concept| %>
// var duration = <%= rand(1000..4000) %>;
//   var left = '<%= 40 + rand(0..20)%>%';
//   var top = '<%= 30 + rand(0..20)%>%';
//   var delay = <%= rand(500..4000) %>;
//     new_concept = d3.select("#playground").append('div').attr('class', 'concept').style({'top': top, 'left': left }).html('<%= concept.content %>');
//     new_concept.style({'opacity':'0'}).transition().duration(duration).style({'opacity':'1'}).transition().delay(delay).style({'opacity':'0'}).remove();
// <% end %>
}
</script>

<!--
<script type="text/javascript">
var graph = new joint.dia.Graph;
var paper = new joint.dia.Paper({
    el: $('#playground'),
    width: 600,
    height: 200,
    model: graph,
    gridSize: 1
});
<% @concepts.each_with_index do |concept, index| %>
  var r<%= concept.id %> = new joint.shapes.basic.Rect({
      position: { x: <%= 10 + (index * 100)%>, y: 30 },
      size: { width: 100, height: 30 },
      attrs: { rect: { fill: 'blue', rx: 10,
      ry: 10 },
      text: { text: '<%= concept.content %>', fill: 'white', 'font-variant': 'small-caps'} }
  });
  r<%= concept.id %>.attr('rect/filter', { name: 'dropShadow', args: { dx: 2, dy: 2, blur: 3 } });
<% end %>
var rect2 = new joint.shapes.basic.Rect({
    position: { x: 100, y: 30 },
    size: { width: 100, height: 30 },
    attrs: { rect: { fill: 'red', rx: 10,
    ry: 10 }, text: { text: 'Renacimiento', fill: 'white', 'font-variant': 'small-caps' } }
});
rect2.attr('rect/filter', { name: 'dropShadow', args: { dx: 2, dy: 2, blur: 3 } });
rect2.translate(300);

<% @concepts.each do |concept| %>
  var link<%= concept.id %> = new joint.dia.Link({
      source: { id: r<%= concept.id %>.id },
      target: { id: rect2.id }
  });
link<%= concept.id %>.attr({
    '.connection': { stroke: 'blue' },
});
<% end %>

graph.addCells([
  <% @concepts.each do |concept| %>
  r<%= concept.id %>,
  <% end %>
   rect2,
  <% @concepts.each do |concept| %>
  link<%= concept.id %>,
  <% end %>
   ]);
// graph.on('all', function(eventName, cell) {
//     console.log(arguments);
// });
</script>
 -->